/*主要的代码 13*/
.navbox{margin:0 auto 30px; width:980px; height:77px; -webkit-box-shadow:0 0 7px #888; -moz-box-shadow:0 0 7px #888;  -o-box-shadow:0 0 7px #888;  -ms-box-shadow:0 0 7px #888;  box-shadow:0 0 7px #888; background:#09f; overflow:hidden;}
.navbox nav{height:41px; background:#333;}
.navbox nav ul{height:41px; float:left; position:relative;}
.navbox nav ul li{float:left;}
.navbox nav ul li a{display:block; padding:0 20px; height:41px; font-size:14px; color:#ddd; text-decoration:none; line-height:41px; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; -ms-transition:all .2s linear; transition:all .2s linear;}
.navbox nav ul li:hover a,.navbox nav ul li a.selected,.navbox nav ul li:hover a.selected{color:#fff; background:#09f;}
.navbox nav ul:hover a.selected{color:#ddd; background:#333;}
.navbox nav ul:hover ul.visible{opacity:0;}
.navbox nav ul li ul{margin-left:8%; top:41px; left:0; width:980px; height:36px; opacity:0; -webkit-transition:all .4s ease-out; -moz-transition:all .4s ease-out; -o-transition:all .4s ease-out; -ms-transition:all .4s ease-out; transition:all .4s ease-out; position:absolute;}
.navbox nav ul li:hover ul{margin-left:0; z-index:1; opacity:1;}
.navbox nav ul li ul.visible,.navbox nav ul li:hover ul.visible{margin-left:0; opacity:1; z-index:1;}
.navbox nav ul li ul li a{height:36px; font-size:12px; color:#fff; text-transform:capitalize; line-height:36px; -webkit-transition:color .3s ease-in-out; -moz-transition:color .3s ease-in-out; -o-transition:color .3s ease-in-out; -ms-transition:color .3s ease-in-out; transition:color .3s ease-in-out;}
.navbox nav ul li ul li:hover a{color:#333; text-shadow:1px 1px 5px #888;}

/*多风格导航代码*/
.red{background:#b00;}
.red nav ul li:hover a,.red nav ul li a.selected,.red nav ul li:hover a.selected{background:#b00;}
.green{background:#0a0;}
.green nav ul li:hover a,.green nav ul li a.selected,.green nav ul li:hover a.selected{background:#0a0;}
.orange{background:#f60;}
.orange nav ul li:hover a,.orange nav ul li a.selected,.orange nav ul li:hover a.selected{background:#f60;}
.purple{background:#c0c;}
.purple nav ul li:hover a,.purple nav ul li a.selected,.purple nav ul li:hover a.selected{background:#c0c;}